<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--<?php
if($webdb[ShowMenu]){
	$sonmenu=@include_once(ROOT_PATH.'data/menu_cache.php');
}else{
	$returnjs="return ;";
    $sonmenu="";
}
$GuideFid[$fid]=str_replace("<a href='$webdb[www_url]' class='guide_menu'>&gt;Ê×Ò³</a>","",$GuideFid[$fid]);
$bodyondblclick = (function_exists('label_array')&&$web_admin&&!$MakeIndex) ?"dblclick_label();":"";
print <<<EOT
-->
<head>
    <link href="/css/css.css" rel="stylesheet" type="text/css">
    <script language="javascript" type="text/javascript" src="/js/jquery-1.4.2.js"></script>
    <script language="javascript" type="text/javascript" src="/js/menu.js"></script>
    <title>$titleDB[title]</title>
</head>
<body>
<div class="top">
    <div class="wh">
        <h1><a href="#"><img src="/images/logo2.png" width="76" height="49" /></a></h1>
        <p class="toptext">BEIJING HELI MECHANICAL SOURCING CO.,LTD</p>
        <ul class="topnav">
            <li><a href="#">ABOUT HLS</a></li>
            <li><a href="#">OUR BUSINESS</a></li>
            <li><a href="#">PRODUCTS</a></li>
            <li><a href="#">DOCUMENTS</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </div>
</div>
<!--
EOT;
?>
-->