
<div class="wh">
    <div id="menu">
        <ul id="nav">
            <li class="mainlevel"><span class="note">大类1</span></li><li class="mainlevel" id="mainlevel_01"><a href="#">大类2</a>
            <ul class="sub_nav_01">
                <span class="Triangle_con"></span>
                <li><a href="#">小类1</a></li>
                <li><a href="#">小类2</a></li>
                <li><a href="#">小类3</a></li>
            </ul>
        </li><li class="mainlevel" id="mainlevel_02"><a href="#">大类3</a>
            <ul class="sub_nav_01">
                <span class="Triangle_con"></span>
                <li><a href="#">小类1</a></li>
                <li><a href="#">小类2</a></li>
                <li><a href="#">小类3</a></li>
            </ul>
        </li><li class="mainlevel"><a href="#">大类4</a>
            <ul class="sub_nav_01">
                <span class="Triangle_con"></span>
                <li><a href="#">小类1</a></li>
                <li><a href="#">小类2</a></li>
                <li><a href="#">小类3</a></li>

            </ul>
        </li><li class="mainlevel"><a href="#">大类5</a><!--input an em tag as a space,IE is gread need-->
            <ul class="sub_nav_01">
                <span class="Triangle_con"></span>
                <li><a href="#">小类1</a></li>
                <li><a href="#">小类2</a></li>

            </ul>
        </li>
        </ul>

    </div>
</div>
<div class="mainB">
    <ul>
<!--
<?php
foreach($listdb_moresort AS $r ){
foreach($r['article'] AS $v){
print <<<EOT
-->
        <li>
            <h2>{$v[title]}</h2>
            <a href="#"><img src="images/img2.png" width="170" height="160" /></a>
            <p>商品简要说明商品简要说明
                商品简要说明商品简要说明
                商品简要说明商品简要说明
                商品简要说明...<a href="#">more</a></p>
        </li>
<!--
EOT;
}}
?>
-->
        <p class="pro_bt"><a href="#"><img src="images/morebt.png" width="82" height="46" /></a><a href="#"><img src="images/cxbt.png" width="125" height="46" /></a></p>
    </ul>
</div>

