<!--
<?php
print <<<EOT
-->
<div class="wh">
    <div id="menu">
        <ul id="nav">
<!--
EOT;
$i=0;
foreach($cattree AS $r ){
$i++;
print <<<EOT
-->
            <li class="mainlevel" id="mainlevel_0{$i}">
<!--
EOT;
if($r[ishighlight]==0){
print <<<EOT
-->
                <a href="list.php?fid=$r[fid]">$r[name]</a>
<!--
EOT;
}else{
print <<<EOT
-->
                <span class="note">$r[name]</span>
<!--
EOT;
}
print <<<EOT
-->

            <ul class="sub_nav_01">
                <span class="Triangle_con"></span>
<!--
EOT;
foreach($r['sid'] AS $rs){
print <<<EOT
-->
                <li><a href="list.php?fid=$rs[fid]">$rs[name]</a></li>
<!--
EOT;
}
print <<<EOT
-->
            </ul>


        </li>
<!--
EOT;
}
print <<<EOT
-->
        </ul>

    </div>
</div>
<div class="mainB">
    <ul>
<!--
EOT;
foreach($listdb_moresort AS $r ){
foreach($r['article'] AS $rs){
print <<<EOT
-->
        <li>
            <h2>{$rs[title]}</h2>
            <a href="bencandy.php?fid=$rs[fid]&id=$rs[aid]"><img src="$rs[picurl]" width="170" height="160" /></a>
            <p>$rs[description]...<a href="bencandy.php?fid=$rs[fid]&id=$rs[aid]">more</a></p>
        </li>
<!--
EOT;
}}
print <<<EOT
-->
        <p class="pro_bt"><a href="#"><img src="images/morebt.png" width="82" height="46" /></a><a href="#"><img src="images/cxbt.png" width="125" height="46" /></a></p>
    </ul>
</div>


<!--
EOT;
?>
-->

