<!--
<?php
print <<<EOT
-->
<link href="/css/cssB.css" rel="stylesheet" type="text/css">
<script>

    $(function(){
        $("div").click(function(){
            $(this).addClass("select");
        });
    })
</script>
<div class="exlist">
    <div class="exlist_title"><img src="/images/paper-clip.png" width="30" height="61" /></div>
    <div id="title">
        <legend> 询 价 单</legend>
    </div>
    <form action="" method="post" enctype="multipart/form-data" name="form1" action="?$timestamp">
        <fieldset>
            <legend>询价客户信息</legend>
            <div class="row">
                <label>公司名称:</label>
                <input style="width:500px" class="txt" type="text"  name="postdb[companyname]"/>
                <label> 联系人:</label>
                <input class="txt" style="width:130px" maxlength="16" type="text"  name="postdb[truename]"/>
            </div>
            <div class="row">
                <label>电子邮件:</label>
                <input class="txt" style="width:230px" maxlength="26" type="text" name="postdb[email]"/>
                <label>联系电话:</label>
                <input class="txt" style="width:150px" maxlength="15" type="text" name="postdb[phone]"/>
                <label>交货期:</label>
                <input class="txt" style="width:130px" maxlength="20" type="text" name="postdb[deadline]"/>
            </div>
        </fieldset>
        <fieldset>
            <legend>询价商品信息</legend>
            <table class="tab" border="0" cellspacing="0" cellpadding="0">
                <tr class="bgA">
                    <td width="135" height="45">commodity code</td>
                    <td width="180">name of commodity</td>
                    <td width="75">number</td>
                    <td width="380">specification</td>
                    <td width="75">remarks</td>
                </tr>
                <tr>
                    <td height="30">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="bgA">
                    <td height="30">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td height="30">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="bgA">
                    <td height="30">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td height="30">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="bgA">
                    <td height="30">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td height="30">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="bgA">
                    <td height="30">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td height="30">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="bgA">
                    <td height="30">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend>询价中需要说明的要求</legend>
            <div class="row"> 1.
                <input class="txt" style="width:820px" maxlength="2" type="text" name="postdb[attach1]"/>
            </div>
            <div class="row"> 2.
                <input class="txt" style="width:820px" maxlength="2" type="text" name="postdb[attach2]"/>
            </div>
            <div class="row"> 3.
                <input class="txt" style="width:820px" maxlength="2" type="text" name="postdb[attach3]"/>
            </div>
        </fieldset>
        <fieldset>
            <legend>如有需要可以上传：附带图纸，零件表，技术标准等</legend>
            <div class="row">
                <label>上传:</label>
                <label for="fileField"></label>
                <input type="file" name="fileField" id="fileField" />
            </div>
        </fieldset>
        <input type="hidden" name="qtype" value="1">
        <input type="hidden" name="fid" value="$fid">
        <input type="hidden" name="aid" value="$aid">
        <input type="hidden" name="step" value="post">
        <div class="formbt"><a href="#"><img src="/images/fqbt.png" width="125" height="46" /></a><a href="javascript:;" onclick="document.form1.submit()"><img src="/images/xjbt.png" width="125" height="44" /></a></div>  </form>
    <p>&nbsp;</p>
</div>

<!--
EOT;
?>
-->
